:root {
  --text: #6b6375;
  --text-h: #1c2f3d;
  --bg: #fff;
  --border: #1c2f3d;
  --code-bg: #f4f3ec;
  --accent: rgba(2, 204, 137, 1);
  --accent-50: rgba(2, 204, 137, 0.159);
  --accent-border: rgba(2, 204, 137, 1);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    2deg,
    rgba(2, 204, 137, 0.5) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: var(--text-h);
}

#app {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  width: fit-content;
  margin: 2rem auto;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--shadow);
  padding: 40px;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 600;
  color: var(--text-h);
}

h1 {
  font-size: 42px;
  margin: 32px 0;
}

h2 {
  font-size: 28px;
  line-height: 1;
  margin: 0 0 8px;
}

h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0 0 8px;
}

p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.text-dimmed {
  color: var(--text);
}

.error {
  color: red;
  margin-top: 1rem;
}

.dashboard {
  max-width: 700px;
  margin: auto;
}

button {
  margin-left: 10px;
}

/** FORM ELEMENTS *****************/

form {
  min-width: 600px;
  margin: auto;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.inputfield {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}

label {
  font-size: 12px;
}

input[type="text"],
input[type="password"] {
  padding: 14px;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 16px;
  border-color: var(--border);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid var(--border);
}

button[type="submit"] {
  -webkit-appearance: none; /* For Safari/Chrome */
  appearance: none;
  border: 2px solid var(--border) !important;
  background: var(--border) !important;
  padding: 14px 20px !important;
  cursor: pointer;
  margin: 0 0 20px 0;
  color: var(--bg);
  width: 100%;
  border-radius: 8px;
  transition: background border 0.3s ease;
  font-weight: 600;
}

button[type="submit"]:hover {
  background: var(--accent) !important;
  border: 2px solid var(--accent-50) !important;
}

.password-rules p {
  margin: 4px 0;
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.text-link-btn {
  -webkit-appearance: none; /* For Safari/Chrome */
  appearance: none;
  border: none; /* Fjern standard ramme */
  background: none;
  cursor: pointer;
  margin: 0 0 10px 0;
  color: var(--accent);
  transition: background 0.3s ease;
  font-weight: 600;
  padding: 14px 8px !important;
  border-radius: 6px;
}

.text-link-btn:hover {
  background: var(--accent-50);
}

/**** DASHBOARD *****/

.dashboard,
#container,
.admin {
  text-align: left;
  gap: 10px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-width: 500px;
  margin: 0 auto;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  border: 1px solid #ccc;
  padding: 6px;
}

.results-table th {
  background: #f0f0f0;
}

/**quiz list**/

.quiz-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quiz-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border: 1px solid var(--border);
  border-radius: 6px;
  margin-bottom: 10px;
  width: 100%;

  font-size: 14px;
  font-weight: 600;
}

.quiz-item-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--border) !important;
  background: none !important;
  padding: 14px 18px !important;
  cursor: pointer;
  color: var(--text-h);
  border-radius: 6px;
  transition: background color 0.3s ease;
  font-weight: 600;
}

.quiz-item-btn:hover {
  background: var(--accent) !important;
  color: var(--bg);
  border: 1px solid var(--accent) !important;
}
