:root {
  --text: #6b6375;
  --white: #fff;
  --darkblue: #1c2f3d;
  --blue-opacity: rgba(2, 204, 137, 0.159);
  --accent: rgba(2, 204, 137, 1);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    2deg,
    rgba(2, 204, 137, 0.5) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: var(--text-h);
}

#app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 42px;
  color: var(--white);
  margin: 0;
}

h2 {
  font-size: 28px;
  line-height: 1;
  margin: 0 0 8px;
  color: var(--darkblue);
}

h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0 0 8px;
}

p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.text-dimmed {
  color: var(--text);
}

.error {
  color: red;
  margin-top: 1rem;
}

.dashboard {
  max-width: 700px;
  margin: auto;
}

button {
  margin-left: 10px;
}

.accent {
  color: var(--accent);
}

/** FORM ELEMENTS *****************/

form {
  min-width: 600px;
  margin: auto;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.inputfield {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}

label {
  font-size: 12px;
}

input[type="text"],
input[type="password"] {
  padding: 14px;
  border: 1px solid var(--darkblue);
  border-radius: 8px;
  font-size: 16px;
  border-color: var(--darkblue);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid var(--darkblue);
}

button[type="submit"] {
  -webkit-appearance: none; /* For Safari/Chrome */
  appearance: none;
  border: 2px solid var(--darkblue) !important;
  background: var(--darkblue) !important;
  padding: 14px 20px !important;
  cursor: pointer;
  margin: 0 0 20px 0;
  color: var(--white);
  width: 100%;
  border-radius: 8px;
  transition: background border 0.3s ease;
  font-weight: 600;
}

button[type="submit"]:hover {
  background: var(--accent) !important;
  border: 2px solid var(--blue-opacity) !important;
}

.password-rules p {
  margin: 4px 0;
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.text-link-btn {
  -webkit-appearance: none; /* For Safari/Chrome */
  appearance: none;
  border: none; /* Fjern standard ramme */
  background: none;
  cursor: pointer;
  margin: 0 0 10px 0;
  color: var(--accent);
  transition: background 0.3s ease;
  font-weight: 600;
  padding: 14px 8px !important;
  border-radius: 6px;
}

.text-link-btn:hover {
  background: var(--blue-opacity);
}

/**** DASHBOARD *****/

.dashboard,
.admin {
  width: 1200px;
  height: 600px;
  text-align: left;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white);
  padding: 40px;
  border-radius: 0 0 8px 8px;
}

.login-view,
.register-view {
  width: 700px;

  text-align: left;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white);
  padding: 40px;
  border-radius: 0 8px 8px 0;
}

.admin {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  border: 1px solid #ccc;
  padding: 6px;
}

.results-table th {
  background: #f0f0f0;
}

/** Upload files **/
.upload {
  border: 1px dashed var(--darkblue);
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-label {
  display: inline-block;
  border: 1px dashed var(--darkblue);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  background-color: var(--blue-opacity);
  font-size: 14px;
  font-weight: 600;

  .file-name {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
  }
}

.file-label:hover {
  background-color: var(--accent);
  color: var(--white);
}

/**quiz list**/

.quiz-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quiz-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border: 1px solid var(--darkblue);
  border-radius: 6px;
  margin-bottom: 10px;
  width: 100%;

  font-size: 14px;
  font-weight: 600;
}

.quiz-item-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--darkblue) !important;
  background: none !important;
  padding: 14px 18px !important;
  margin: 0px;
  cursor: pointer;
  color: var(--darkblue);
  border-radius: 6px;
  transition: background color 0.3s ease;
  font-weight: 600;
}

.quiz-item-btn:hover {
  background: var(--accent) !important;
  color: var(--white);
  border: 1px solid var(--accent) !important;
}

.topbar {
  background-color: var(--darkblue);
  padding: 40px;
  border-radius: 8px 8px 0 0;
}

.question-block {
  margin-bottom: 2rem;
}

.question-block p {
  font-weight: bold;
}

.container {
  padding: 2rem;
}
