:root {
  --text: #38424a;
  --white: #fff;
  --darkblue: #1c2f3d;
  --blue-opacity: rgba(2, 204, 137, 0.159);
  --grey: #38424a2a;
  --accent: rgba(2, 204, 137, 1);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    2deg,
    rgba(2, 204, 137, 0.5) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: var(--text-h);
}

#app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 42px;
  color: var(--white);
  margin: 0;
}

h2 {
  font-size: 28px;
  line-height: 1;
  margin: 0 0 8px;
  color: var(--darkblue);
}

h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0 0 8px;
}

p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.text-dimmed {
  color: var(--text);
}

.error {
  color: red;
  margin-top: 1rem;
}

.dashboard {
  max-width: 700px;
  margin: auto;
}

button {
  margin-left: 10px;
}

.accent {
  color: var(--accent);
}

/** FORM ELEMENTS *****************/

form {
  min-width: 600px;
  margin: auto;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.inputfield {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}

label {
  font-size: 12px;
}

input[type="text"],
input[type="password"] {
  padding: 14px;
  border: 1px solid var(--darkblue);
  border-radius: 8px;
  font-size: 16px;
  border-color: var(--darkblue);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid var(--darkblue);
}

button[type="submit"] {
  -webkit-appearance: none; /* For Safari/Chrome */
  appearance: none;
  border: 2px solid var(--darkblue) !important;
  background: var(--darkblue) !important;
  padding: 14px 20px !important;
  cursor: pointer;
  margin: 0 0 20px 0;
  color: var(--white);
  width: 100%;
  border-radius: 8px;
  transition: background border 0.3s ease;
  font-weight: 600;
}

button[type="submit"]:hover {
  background: var(--accent) !important;
  border: 2px solid var(--blue-opacity) !important;
}

.password-rules p {
  margin: 4px 0;
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.text-link-btn {
  -webkit-appearance: none; /* For Safari/Chrome */
  appearance: none;
  border: none; /* Fjern standard ramme */
  background: none;
  cursor: pointer;
  margin: 0 0 10px 0;
  color: var(--accent);
  transition: background 0.3s ease;
  font-weight: 600;
  padding: 14px 8px !important;
  border-radius: 6px;
}

.text-link-btn:hover {
  background: var(--blue-opacity);
}

/**** DASHBOARD *****/

.dashboard,
.admin {
  max-width: 1200px;
  width: 1200px;
  height: 600px;

  gap: 40px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: var(--white);
  padding: 40px;
  border-radius: 0 0 8px 8px;
  flex-wrap: wrap;
}

.login-view,
.register-view {
  width: 700px;

  justify-content: center;
  align-items: center;
  text-align: center;

  text-align: left;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white);
  padding: 40px;
  border-radius: 8px;
}

.admin {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  padding: 6px;
}

.results-table th {
  background: #f0f0f0;
}

/** Upload files **/
.upload {
  border: 1px dashed var(--darkblue);
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-label {
  display: inline-block;
  border: 1px dashed var(--darkblue);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  background-color: var(--blue-opacity);
  font-size: 14px;
  font-weight: 600;
  transition: background color 0.3s ease;

  .file-name {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
  }
}

.file-label:hover {
  background-color: var(--accent);
  color: var(--white);
}

/**quiz list**/

.quiz-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 450px;
  overflow-y: auto;
  padding-right: 8px;
  border: 1px;
  border-radius: 6px;
}

.quiz-list::-webkit-scrollbar {
  width: 10px;
}

.quiz-list::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 4px;
}

.quiz-list::-webkit-scrollbar-track {
  background: var(--grey);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quiz-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border: 1px solid var(--darkblue);
  border-radius: 6px;
  margin-bottom: 10px;
  width: 100%;

  font-size: 14px;
  font-weight: 600;
}

.admin-quiz-btns {
  display: flex;
  gap: 10px;
}

.quiz-item-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--darkblue) !important;
  background: none !important;
  padding: 14px 18px !important;
  margin: 0px;
  cursor: pointer;
  color: var(--darkblue);
  border-radius: 6px;
  transition: background color 0.3s ease;
  font-weight: 600;
}

.quiz-item-btn:hover {
  background: var(--accent) !important;
  color: var(--white);
  border: 1px solid var(--accent) !important;
}

.topbar {
  background-color: var(--darkblue);
  padding: 40px;
  border-radius: 8px 8px 0 0;
}

.question-block p {
  font-weight: bold;
}

/***** brugerresultater *****/
.results-section {
  border: 1px solid var(--darkblue);
  padding: 20px;
  border-radius: 8px;
  min-width: 500px;
}

.results-table-container {
  max-height: 400px;
  overflow-y: auto;
}

/* Table styling */
.results-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-size: 14px;
  border-width: none !important;
}

.results-table td:first-child {
  text-align: left;
  padding: 12px 15px;
  background-color: var(--blue-opacity);
  border-radius: 6px 0px 0px 6px;
}
.results-table td:last-child {
  border-radius: 0px 6px 6px 0px;
}

.results-table th {
  background-color: var(--accent);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: left;
}

.results-table th:first-child {
  border-radius: 6px 0px 0px 6px;
}
.results-table th:last-child {
  border-radius: 0px 6px 6px 0px;
}

.results-table tbody tr td {
  background-color: var(--blue-opacity);
}

.score {
  font-weight: bold;
}

.userid {
  font-weight: bold;
}

/*** QUIZ VIEW ***/

.quiz-view {
  margin: 0 auto;
  overflow-y: auto;
  max-width: 1200px;
  width: 1200px;
  height: 600px;

  margin: 0 auto;
  background-color: var(--white);
  padding: 40px;
  border-radius: 0 0 8px 8px;
  flex-wrap: wrap;
}

.question-block {
  /* margin-bottom: 2rem; */
  padding: 1.2rem;
  background: #ffffff;
  border: 1px solid var(--darkblue);
  border-radius: 10px;
}

.question-block p {
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.answer {
  display: block;
  margin-bottom: 0.5rem;
  padding: 4px;
  border-radius: 6px;
}

.correct {
  background-color: #c8f7c5;
}

.wrong {
  background-color: #f7c5c5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  margin-top: 2rem;
}

.results-summary {
  margin-top: 20px;
  padding: 16px;
  background: rgba(2, 204, 137, 0.159);
  border: 1px solid rgba(2, 204, 137, 1);
  border-radius: 8px;
  font-weight: 600;
}

.back-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid var(--border);
  background: var(--border);
  padding: 14px 20px;
  cursor: pointer;
  color: var(--bg);
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.back-btn:hover {
  background: var(--accent);
  border-color: var(--accent);
}

.quiz-view::-webkit-scrollbar {
  width: 10px;
}

.quiz-view::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 4px;
}

.quiz-view::-webkit-scrollbar-track {
  background: var(--grey);
}
